body
{
    background-color: bisque;
    color: darkmagenta;
}

footer
{
    font-size: small;
    color: gray;
}


h2
{
    color: navy;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


li
{
    color: brown;

}